$marron1:#4d3127;
$marron2:#794c3c;
$marron3:#b0967c;
$rojo:rgb(138, 2, 2);
$gris: rgb(19, 19, 19);
$negroTranslucido: rgba(0, 0, 0, .75);
$blancoTranslucido:linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
$gradiente1: linear-gradient(180deg, rgba(39, 37, 37, 0.75) , rgba(0, 0, 0, 1) );
$gradiente2: linear-gradient(180deg, rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 1) );
$gradiente3: linear-gradient(180deg, rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, .7) );
$gradientemarron: linear-gradient(180deg, #4d3127e0 , #4d3127e0 );